[Desktop Entry]
Version=1.0
Type=Application
Name=Alacritty
Comment=A fast, cross-platform, OpenGL terminal emulator
Exec=alacritty
Icon=Alacritty
Path=
Terminal=false
StartupNotify=false
