[Desktop Entry]
Name=Unity Dash
Exec=rofi -combi-modi drun,window -modi run,combi -show combi -theme ob-new -window-thumbnail
Icon=/home/robin/Pictures/Icons/ubuntu.png
Type=Application
Comment=
Path=
Terminal=false
StartupNotify=false
