.solid-csd decoration {
    margin: 0px !important;
    border: none !important;
    border-image-width: 0px !important;
    outline-width: 0px !important;
}
.solid-csd {
    margin: 0px !important;
    border: none !important;
    border-image-width: 0px !important;
    outline-width: 0px !important;
}

/* Remove rounded corners on wayland */

.titlebar,
.titlebar .background {
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

/*
 Decrease the size of head bars for non-CSD applications
 Gnome 20 (Fedora 24) compatible version
 https://unix.stackexchange.com/questions/276951/how-to-change-the-titlebar-height-in-standard-gtk-apps-and-those-with-headerbars
*/

window.ssd headerbar.titlebar {
    padding: 4px;
    padding-right: 5px;
    padding-left: 5px;
    min-height: 0;
    border: none;
}

window.ssd headerbar.titlebar button.titlebutton {
    padding: 2px;
    min-height: 0;
    min-width: 0;
}

.default-decoration {
    padding: 4px;
    padding-right: 5px;
    padding-left: 5px;
    min-height: 0;
    border: none;
}

.default-decoration .titlebutton {
    padding: 2px;
    min-height: 0;
    min-width: 0;
}

decoration  {
	transition: 0;
	box-shadow: none;
	margin: 0;
	padding: 0;
}
decoration:backdrop  {
	transition: 0;
	box-shadow: none;
	margin: 0;
	padding: 0;
}

button.titlebutton.close {
  display:none;
}

button.titlebutton.maximize {
  display:none;
}

button.titlebutton.minimize {
  display:none;
}


/* GTK3-mushrooms */
headerbar, .default decoration, .titlebar {
	min-height: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
	padding-bottom: 0px;
	padding-top: 0px;
}

button,
button.titlebutton,
button.image-button,
button.text-button,
button.menu-button,
button.image-button.text-button,
.stack-switcher > button.text-button {
	padding: 4px 8px;
	min-height: 20px;
	min-width: 0;

}
.stack-switcher > button.text-button {
	min-width: 80px;
}
button.text-button.image-button label {
	padding: 0 2px;
}
notebook > header.top tab,
notebook > header.bottom tab {
	padding: 0 5px;
}
notebook > header.left tab,
notebook > header.right tab {
	padding: 0 8px;
}
notebook tab button {
	padding: 0px;
	min-height: 15px;
}
entry,
spinbutton:not(.vertical) {
	min-height: 26px;
}
treeview button {
	padding: 0 7px;
	min-height: 23px;
}
progressbar.horizontal trough,
progressbar.horizontal progress,
progressbar.vertical trough,
progressbar.vertical progress,
levelbar trough {
	min-height: 9px;
	min-width: 9px;
}
scale {
	padding: 10px 0;
}
headerbar, switch slider {
	min-height: 0;
}
popover:not(.emoji-picker) > *:not(grid) {
	margin: -3px;
}
tooltip * {
	padding: 0px;
}
placessidebar row {
	min-height: 29px;
}
placessidebar row button.sidebar-button {
	min-height: 20px;
	min-width: 20px;
	padding: 0;
}
filechooser > box.search-bar, filechooser > box:last-child {
	border-bottom: 1px solid alpha(#000, 0.15);
}
filechooser > actionbar > revealer > box {
	border-top: 1px solid alpha(#000, 0.15);
}
* {
	-GtkDialog-action-area-border: 5;
}
messagedialog > box {
	padding: 7px;
}
messagedialog buttonbox {
	margin-top: -17px;
}
menu, .menu, .context-menu, tooltip {
	border-radius: 0;
}
entry undershoot.left,
entry undershoot.right,
spinbutton:not(.vertical) undershoot.left,
spinbutton:not(.vertical) undershoot.right,
scrolledwindow undershoot.left,
scrolledwindow undershoot.right,
scrolledwindow undershoot.top,
scrolledwindow undershoot.bottom {
	background-image: none;
}

button.image-button {
	padding: 0px 6px;
}

button.image-button image {
	font-size: 12px;
}
